<ng-container>
  <div class="text-center">
    <h1>Please choose <span class="color-red">best company</span> <br>(vote for one)</h1>
    <app-button
      class="d-flex justify-center pt-1"
      [voteItems]="voteItems"
      [attemptCount]="attemptCount"
      (selectVoteOutput)="handleSelectEvent($event)"
      (updateAttemptCount)="attemptCountEvent($event)"
    >
    </app-button>
  </div>

  <p class="text-center" [innerHTML]="getQuestion(answerCount)?.title | sanitizeHtml"></p>

  <div class="d-flex justify-between items-center"
       [ngClass]="{'row-reverse': getQuestion(answerCount)?.revertButton}"
  >
    <button class="btn-2"
            (click)="yesEvent()"
    >
      Yes
    </button>
    <ng-content></ng-content>
    <button class="btn-2"
            (click)="noEvent()"
    >
      No
    </button>
  </div>
</ng-container>
