<ng-container>
  <div class="text-center">
    <h1>Please choose <span class="color-red">best company</span> <br>(vote for one)</h1>
    <app-button
      class="d-flex justify-center"
      [voteItems]="voteItems"
      [attemptCount]="attemptCount"
      (selectVoteOutput)="handleSelectEvent($event)"
    >
    </app-button>
  </div>

  <div class="d-flex justify-between items-center">
    <button class="btn-2"
            [disabled]="!selectVote || currentStep < stepCount"
            (click)="previousStep()"
    >
      Previous
    </button>
    <ng-content></ng-content>
    <button class="btn-2"
            [disabled]="!selectVote || currentStep == stepCount"
            (click)="nextStep()"
    >
      Next
    </button>
  </div>
</ng-container>
