<div
  (mouseleave)="mouseleaveEvent()"
>
  <ng-container *ngIf="attemptCount === 0">
    <button
      *ngFor="let voteItem of voteItems"
      class="btn js-btn"
      (click)="clickEvent(voteItem)"
      [ngClass]="{'active': voteItem.active}"
    >
      {{ voteItem?.title }}
    </button>
  </ng-container>
  <ng-container *ngIf="attemptCount === 1">
    <button
      *ngFor="let voteItem of voteItems"
      class="btn js-btn"
      (click)="clickEvent(voteItem)"
      (mousemove)="mousemoveEvent(voteItem)"
      [style.transform]="'scale(' + transformScale(voteItem.isMain)  + ')'"
      [ngClass]="{'active': voteItem.active}"
    >
      {{ voteItem?.title }}
    </button>
  </ng-container>
</div>
