<app-header></app-header>
<main>
  <div class="border-grey border-radius p-2">
    <app-first-step
      [voteItems]="voteItems"
      [stepCount]="stepCount"
      [currentStep]="currentStep"
      [attemptCount]="attemptCount"
      (selectOutput)="handleSelectVote($event)"
      (updateStep)="handleUpdateStep($event)"
      (updateAttemptCount)="handleAttemptCount($event)"
      *ngIf="currentStep < stepCount"
    >
      <span class="color-red">{{ currentStep }} of {{ stepCount }}</span>
    </app-first-step>

    <app-second-step
      *ngIf="currentStep == stepCount && selectVote && !selectVote.isMain"
      [voteItems]="voteItems"
      [stepCount]="stepCount"
      [selectVote]="selectVote"
      (selectOutput)="handleSelectVote($event)"
      (updateStep)="handleUpdateStep($event)"
    >
      <span class="color-red">{{ currentStep }} of {{ stepCount }}</span>
    </app-second-step>

    <app-finish-step
      *ngIf="currentStep == stepCount && selectVote?.isMain"
      [selectVote]="selectVote"
      (selectOutput)="handleSelectVote($event)"
      (updateStep)="handleUpdateStep($event)"
      (updateAttemptCount)="handleAttemptCount($event)"
    ></app-finish-step>
  </div>
</main>
