.btn {
  border-radius: 12px;
  padding: 1rem 2rem;
  border: none;
  background-color: $white-deep;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .7em;

  &:hover,
  &.active {
    color: $white;
    background-color: $red;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  @media (max-width: 1024px) {
    padding: 1rem;
    min-width: 75px;
    font-size: .5em;
  }
}

.btn-2 {
  @extend .btn;
  color: $white;
  background-color: $blue-deep;

  &:hover {
    background-color: $blue;
  }
}
