@import "variables";

body {
  background-color: $light-grey;
  color: $black;
  font: 400 22px/125% Gilroy, "Open Sans", "Arial", sans-serif;
}

h1 {
  font: 600 64px/110% Gilroy, "Open Sans", "Arial", sans-serif;
  margin: 0;

  @media (max-width: 1680px) {
    font: 600 50px/110% Gilroy, "Open Sans", "Arial", sans-serif;
  }

  @media (max-width: 1366px) {
    font: 600 40px/110% Gilroy, "Open Sans", "Arial", sans-serif;
  }

  @media (max-width: 1024px) {
    font: 600 28px/115% Gilroy, "Open Sans", "Arial", sans-serif;
  }
}

.border-grey {
  border: 2px solid $grey;
}

.border-radius {
  border-radius: 4px;
}

.p-2 {
  padding: 2em;

  @media (max-width: 1024px) {
    padding: 1em;
  }
}

.pt-1 {
  padding-top: 1em;
}

.d-flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.color-red {
  color: $red;
}

.text-center {
  text-align: center;
}
